
body {
    background-image: url('https://us.123rf.com/450wm/kritchanut/kritchanut1812/kritchanut181200042/114004336-colorful-two-tone-pink-and-blue-gradient-abstract-banner-background.jpg?ver=6');
    background-size: cover; // Per adattare l'immagine all'area del body
    background-repeat: no-repeat;
}