<!--<p>{{classifiche[0].posizione02}}</p>-->
<div class="container">
    <div class="row">
        <div class="col-md-6"> 
            <a [routerLink]="['/classificaPrincipale']">
                <div class="card">
                    <div class="card-container" >
                        <h1>Classifica generale</h1>  
                        <p>
                        Scopri chi è il Boulder KING!    
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a [routerLink]="['/classificaFiltri/']">
                <div class="card">
                    <div class="card-container">
                        <h1>Classifiche personalizzate</h1>  
                        <p>
                        Applica vari filtri per avere le informazioni che preferisci!    
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
