<div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
            <a [routerLink]="['/ente']">
            <div class="card">
                <div class="card-container">
                    <h1>Arenas</h1>  
                    <p>
                    Trova le Arene di arrampicata più vicine a te!    
                    </p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-6 col-12">
            <a [routerLink]="['/evento']">
            <div class="card">
                <div class="card-container">
                    <h1>Battles</h1>  
                    <p>
                    Trova e partecipa alle migliori sfide nei tuoi paraggi!    
                    </p>
                </div>
            </div>
        </a> 
        </div>
    </div>
</div>
