.coloreTestoPrimario {
    color: rgba(238, 224, 245, 0.685);
    font-size: 1.5rem;
}

.dropdown-menu {
    width: 50%; /* o qualsiasi altra percentuale o larghezza fissa che preferisci */
    margin: auto;
}
